<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Python Flask Todo List App</title>

   
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link href="../static/signup.css" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
   
  </head>

  <body>
    <div class="container">
        <div class="header">
              <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        
              <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav mr-auto">
                  <li class = "nav-item">
                    <a class = "nav-link" href = "/">Home <span class = "sr-only">(current)</span></a>
                  </li>
                  <li class = "nav lin active">
                    <a class = "nav-link" href = "/showAddItem"> Add Items</a>
                  </li>
                  <li class="nav-item active">
                    <a class="nav-link" href="/logout">Logout</a>
                  </li>
                 
                </ul>
               
              </div>
            </nav>

            <h3 class="text-muted">Python Flask App</h3>
        </div>
        <section>
          <form class = "form-horizontal" method = "post" action = "/addItem">
            <fieldset>
              <legend>Create Yout Todo</legend>

              <div class = "form-group">
                <label class = "col-md-4 control-lable" for ="txtTitle">Title</label>
                <div class = "col-md-4">
                  <input type="text" name = "inputTitle" id ="txtTitle" placeholder=" Title">
              </div>
            </div>

            <div class = "form-group">
              <label class = "col-md-4 control-lable" for = "txtDesc">Description</label>
              <div class = "col-md-4">
                <textarea name = "inputDescription" id = "txtDesc" placeholder="Description"></textarea>
              </div>
            </div>

            <div class = "form-group">
              <label class = "col-md-4 control-lable" for = "singlebutton"></label>
              <div class = "col-md-4">
                <input id = "singlebutton" name = "singlebutton" class = "btn btn-primary btn block" type = "submit" value = "submit"/> 
            </div>
            </fieldset>
  </body>
</html>